@model Category

<form action="/Category/Create" method="post">
<label asp-for="Name">Kategori Adı</label>
<input asp-for="Name" class="form-control">
<button type="submit" class="btn btn-primary">Kaydet</button>
</input></form>